.container {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
}
.snake-view {
  border: 20px solid black;
  display: inline-block;
}
.cell {
  width:20px;
  height: 20px;
  display: inline-block;
  background-color: white;

}
.snake {
  background-color: green;
}

.apple {
  background-color: red;
}
